.modal {
    position: fixed;
    top: 20vh;
    left: 10%;
    right: 10%;
    width: 600px;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid green;
    background-color: white;
}

.modal__header {
    padding: 16px;
    color: white;
    font-weight: bold;
    background-color: rgb(6, 149, 144);
}

.modal__header p {
    margin: 0;
    padding: 0;
}

.modal__content {
    padding: 16px;
}

.modal__actions {
    display: flex;
    padding: 16px 0;
    justify-content: flex-end;
}