.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: rgb(6, 149, 144);
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.main-navigation__logo h2 {
    margin: 0;
    font-size: 16px;
    color: white;
}

.main-navigation__items {
    margin-left: 24px;
}

.main-navigation__items ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.main-navigation__items li {
    margin: 0 16px;
}

.main-navigation__items a {
    text-decoration: none;
    color: white;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active {
    color: lemonchiffon;
}